
 * {
	margin:0;
	padding:0;
}

body{
    font-family: sans-serif;
    background-image: url(https://media.istockphoto.com/vectors/blue-abstract-background-vector-id1007179744?k=6&m=1007179744&s=612x612&w=0&h=MivU_nNPw8ReYHIxCXh5z8somVoAc1bHI8zQrLKqOpI=); 
    background-size: cover;
    background-attachment: fixed
}


header nav {
	width:100%;
}
 
.menu {
	width:100%;
    background-image: url(https://image.freepik.com/foto-gratis/papel-pintado-pared-hormigon-pintado-textura-concepto-coloreado_53876-31799.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	overflow:hidden;
	list-style:none;
	display: flex; 
    justify-content: center; 
}
 
.menubar {
	display:none;
}

#box {
	display: none;
} 
 
.menu li {
	float:left;
}
 
.menu li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}
 
 
.menu li a:hover {
	background:rgba(14, 63, 155, 0.5);
}

.menu i {
	margin-right: 10px;
}
 
@media (max-width:768px) {
	.menu {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
		transition: .5s;
		display: block;
	}
 
	.menu li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
 
	.menubar {
		display:block;
		width:100%;
	}
 
	.titulo {
		display:block;
        padding:26px;
        background-image: url(https://image.freepik.com/foto-gratis/papel-pintado-pared-hormigon-pintado-textura-concepto-coloreado_53876-31799.jpg);
		/* background:rgb(14, 22, 97); */
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
 
	.icon {
		float:right;
		font-size:40px;
		padding: 23px;
	}


	#box:checked~.menu {left: 0%}
}	

main, footer {
    width: 90%; 
    max-width: 1050px; 
    margin: 20px auto
}

main .arts {
    width: 68%;
    float: left;
    margin-right: 2%;
}

main .arts article { 
    background: rgba(255, 255, 255, 0.7);
    padding: 20px; 
    margin-bottom: 30px; 
    border-radius: 20px; 
}

aside {
    background: rgba(5, 82, 199, 0.5); 
    float: left; 
    padding: 20px; 
    box-sizing: border-box;
    width: 30%;
    border-radius: 20px;
}

aside h3 {
    text-align: center;
}

footer {
    background: black;
    color: white;
    clear:both;
    padding: 15px; 
    text-align: center;
    border-radius: 20px;
}

.k2 {
    text-align: center;
    background: rgba(0,0,0,0.4); 
    height: auto; 
    width: 200px; 
    margin: auto; 
    padding: 10px; 
    border: 5px solid; 
    color: aliceblue;
    border-radius: 20px; 
}

@media (max-width: 820px) {

    main .arts {
        width: 100%;
    }

    main .arts article {
        margin-left: 10%; 
        margin-right: 10%
    }

    aside {
        width: 68%; 
        margin-bottom: 0px; 
        margin-left: 15%; 
        margin-right: 15%
    }

    .fisic {  
        min-width: 200px;
        margin-left: 20%; 
        margin-right: 15%;
        margin-top: 20px;
    }    
}

    .fisic {
        padding: 2%;
    }  
